In [1]:
%load_ext sql

In [2]:
%sql sqlite:///fitness.db

u'Connected: @fitness.db'

In [9]:
%%sql
DROP TABLE User;

 * sqlite:///fitness.db
Done.

[]

In [10]:
%%sql
CREATE TABLE User (
userid integer, 
firstName char(15) NOT NULL, 
lastName char(15) NOT NULL, 
age integer,
weight double,
height double,
target double,
PRIMARY KEY (userid)
);

 * sqlite:///fitness.db
Done.

[]

In [15]:
%%sql
DROP TABLE Food;

 * sqlite:///fitness.db
Done.

[]

In [16]:
%%sql
CREATE TABLE Food (
name varchar(30), 
weight double,
cardio double,
carbon double,
protein double,
sodium double,
PRIMARY KEY (name)
);

 * sqlite:///fitness.db
Done.

[]

In [14]:
%%sql
CREATE TABLE selfExercise (
type char(15), 
name char(15),
duration integer,
cardio double,
difficultLevel integer,
bodyFocus char(15),
PRIMARY KEY (name)
);

 * sqlite:///fitness.db
Done.

[]

In [23]:
%%sql
DROP TABLE gym;

 * sqlite:///fitness.db
Done.

[]

In [24]:
%%sql
CREATE TABLE gym (
id integer, 
address varchar(255),
openTime time,
closeTime time,
phone integer,
email varchar(255),
className varchar(255),
name varchar(30),
trainingFocus varchar(30),
PRIMARY KEY (id)
);

 * sqlite:///fitness.db
Done.

[]

In [31]:
%%sql
DROP TABLE fitnessClass;

 * sqlite:///fitness.db
Done.

[]

In [33]:
%%sql
CREATE TABLE fitnessClass (
id integer, 
name char(255),
duration integer,
cardio double,
trainingFocus varchar(30),
startTime datetime DEFAULT '0000-00-00-00-00-00',
gymid integer,
PRIMARY KEY (id),
FOREIGN KEY(gymid)
REFERENCES gym
ON DELETE CASCADE
);

 * sqlite:///fitness.db
Done.

[]

In [34]:
%%sql
CREATE TABLE plan (
id integer, 
weight double,
period integer,
target double,
cardioPerDay double,
PRIMARY KEY (id)
);

 * sqlite:///fitness.db
Done.

[]

In [36]:
%%sql
CREATE TABLE have (
userid integer, 
id integer,
PRIMARY KEY (userid,id),
FOREIGN KEY (userid) references User,
FOREIGN KEY (id) references plan
);

 * sqlite:///fitness.db
Done.

[]

In [38]:
%%sql
CREATE TABLE include ( 
id integer,
selfExerciseName char(15),
fitnessClassId integer,
PRIMARY KEY (id,selfExerciseName,fitnessClassId),
FOREIGN KEY (id) references plan,
FOREIGN KEY (selfExerciseName) references selfExercise,
FOREIGN KEY (fitnessClassId) references fitnessClass
);

 * sqlite:///fitness.db
Done.

[]

In [39]:
%%sql
INSERT INTO User(userid, firstName, lastName, age, weight, height, target)
VALUES
(0, 'Alex', 'Ash', 20, 100, 180, 80),
(1, 'Ben', 'Lex', 21, 95, 178, 90),
(2, 'Frank', 'Ben', 15, 75, 167, 60),
(3, 'Lawrence', 'Xu', 20, 120, 192, 90),
(4, 'Jrex', 'Ben', 28, 110, 185, 95),
(5, 'Wendy', 'Hank', 19, 60, 162, 50),
(6, 'Ark', 'Handy', 20, 95, 178, 80),
(7, 'Hao', 'Wang', 24, 80, 172, 70),
(8, 'Mark', 'Chalice', 14, 80, 172, 70),
(9, 'Jack', 'Steven', 30, 90, 172, 75)

 * sqlite:///fitness.db
10 rows affected.

[]

In [44]:
%%sql
INSERT INTO Food(name, weight, cardio, carbon, protein, sodium)
VALUES
('Apple', 100, 52, 13.8, 0.2, 10),
('Banana', 100, 89, 22.8, 1, 10),
('Beef', 100, 299, 4.2, 109, 1013),
('Broccoli', 100, 34, 6.6, 2.8, 33),
('Chicken', 100, 141, 0, 30.5, 99.9),
('Egg', 100, 143, 0.7, 12.5, 142),
('Lamb', 1000, 2060, 40, 320, 750),
('Orange', 1000, 470, 117, 9, 120),
('Potato', 1000, 580, 124, 25, 100),
('Rice', 1000, 1010, 213, 39, 30)

 * sqlite:///fitness.db
10 rows affected.

[]